[Unit]
Description=Systemd service for mchostd, part of the mcmultiplayercontroller "ecosystem"
Requires=network.target

[Service]
User=jonathan
ExecStart=/usr/bin/mchostd

# Set the required environment variable
Environment=""
Restart=on-failure

[Install]
WantedBy=multi-user.target
