[Unit]
Description=Script Daemon For Test Environmnent Variables

[Service]
User=jonathan
ExecStart=/usr/local/bin/mchostd

# Set the environment
Environment=""
Restart=on-failure

[Install]
WantedBy=multi-user.target
